@import 'partials/variables';
@import 'partials/common';

.flex {
    display: flex;
}

.container {
    @include container;
}

.text-uppercase {
    text-transform: uppercase;
}

html, body {
    font-family: Avenir, Helvetica, Arial, sans-serif;
}

// HEADER

header {
    div.blue-block {
        background-color: $brandColor;
        height: 22px;
        justify-content: flex-end;
        align-items: center;

        div.txt {
            p {
                color: white;
                font-size: 0.8rem;
            }
        }
    }
    div#header {
        align-items: center;
        height: 12vh;
        margin: 0 auto;
        width: 70%;
        justify-content: space-between;
        font-size: 70%;
        padding: 10px;
        font-weight: 600;

        img {
            width: 60px;
            height: 60px;
        }
        ul {
            justify-content: space-evenly;

            li {
                list-style-type: none;
                align-items: center;
                text-align: center;
                height: 12vh;
                padding: 10px;
                border-bottom: 3px solid transparent;

                &:active,
                &.active {
                    border-bottom: 3px solid $brandColor;
                }

                a {
                    text-decoration: none;
                    text-transform: uppercase;
                    color: #303030;

                    &:active,
                    &:hover,
                    &.active {
                        color: $brandColor;
                    }
                }
            }
        }
    }
}

// MAIN

div#content {
    div#jumbotron {
        height: 42vh;
        background-image: url('/img/jumbotron.jpg');
        background-size: cover;
    }

    div.cards-wrapper {
        background-color: #1c1c1c;
        width: 100%;
        align-items: center;

        div.container {
            position: relative;
            padding: 3rem 0 1.2rem;

            h4.tag {
                color: white;
                padding: 0.3rem 0.9rem;
                background-color: $brandColor;
                position: absolute;
                top: 0;
                transform: translateY(-50%);
            }

            .cards {
                flex-wrap: wrap;
                justify-content: center;

                div.card {
                    width: calc((100% / 6) - 2rem);
                    margin-bottom: 1.5rem;
                    margin-right: 1rem;

                    &:hover {
                        cursor: pointer;
                    }

                    img {
                        width: 100%;
                        height: 125px;
                        object-fit: cover;
                        object-position: 0 0;
                    }

                    h5 {
                        font-size: 0.6rem;
                        margin-top: 5px;
                        color: white;
                    }
                }
            }
            div.button {
                justify-content: center;

                .btn {
                    background-color: $brandColor;
                    font-size: 0.7rem;
                    font-weight: 400;
                    color: white;
                    border: none;
                    padding: 0.6rem 2.5rem;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
    }
}

// SHOP MENU

div#shop-menu {
    background-color: $brandColor;
    gap: 1rem;
    justify-content: center;

    div.menu-links {
        justify-content: center;
        color: white;
        font-size: 0.7rem;

        div.link {
            justify-content: center;
            padding: 30px 0;
            gap: 3.5rem;

            a {
                margin: 0 auto;
                align-items: center;

                &:hover {
                    cursor: pointer;
                }

                img {
                    width: 45px;
                    padding-right: 0.6rem;
                }
            }
        }
    }
}

// FOOTER

div#footer {
    background-image: url('/img/footer-bg.jpg');

    div.footer-wrapper {
        font-size: 0.8rem;
        justify-content: space-around;

        div.links-wrapper {
            background-image: url('/img/dc-logo-bg.png');
            background-repeat: no-repeat;
            background-size: 48%;
            background-position: center right;

            div.links-list {
                padding: 22px 0;
                margin-right: 15px;

                h4 {
                    color: white;
                    margin-bottom: 0.6rem;
                }

                ul {
                    padding-left: 0;
                    margin-bottom: 0.6rem;

                    li {
                        list-style-type: none;

                        a {
                            text-decoration: none;
                            font-size: 0.7rem;
                            color: #797979;

                            &:hover {
                                cursor: pointer;
                                color: white;
                            }
                        }
                    }
                }
            }
        }
    }
}

div#footer-nav {
    background-color: #303030;
    color: white;

    div.nav-wrapper {
        align-items: center;
        justify-content: space-between;
        height: 12vh;

        div.sign-up {
            a {
                text-decoration: none;
                color: white;
                padding: 10px;
                border: 2px solid $brandColor;
                font-size: 0.8rem;
                font-weight: 300;
            }
        }

        div.social-wrapper {
            align-items: center;
            gap: 1rem;
            justify-content: space-between;

            div.follow p {
                font-weight: 600;
                color: $brandColor;
            }

            div.icons {
                align-items: center;
                gap: 0.8rem;

                &:hover {
                    cursor: pointer;
                }
            }
        }
    }
}

